<!DOCTYPE html>
<html class="vh-100 overflow-hidden">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ block('title') }}</title>
        <link rel="icon" type="image/png" href="{{ asset( 'static/favicon.ico' ) }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="vh-100 overflow-hidden">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
